<template name="items">
    <div class="splash" style="background-image:url('{{splash}}')">
        <div class="section">
            <span class="title serif">Items</span>
        </div>
    </div>
    <div class="items section">
        {{#each items}}
            <div class="item">
                <img src="{{icon}}"><div>
                    <h2 class="serif name">{{name}}</h2>
                    {{{description}}}
                </div>
            </div>
        {{/each}}
    </div>
</template>
